<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>

	<meta charset="utf-8"/> 
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/1.0.0-beta.1/ng-google-chart.min.js" type="text/javascript"/>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js" ></script>  
	<script src = "https://cdn.zingchart.com/zingchart.min.js" ></script>  
	<script src = "https://cdn.zingchart.com/angular/zingchart-angularjs.js" ></script>
	<script src = "/travel/homepage.js" ></script> 
 	<style type="text/css">
		.list-group-item:hover{
			color: #337ab7;
			//text-shadow:  0 0 1em #337ab7;
			//font-weight:bold;
			background-color:#337ab7;
			color: #fff;
			cursor: pointer;
		}
		
	</style>
</h:head>


<body ng-app="autoCompleteApp" ng-controller="autoCompleteCtrl" ng-init="initializePage()" >

	<p:layout fullPage="true">
		<p:layoutUnit position="north" gutter="10" style="text-align:right;font:2em bold;min-height:100px;">
	        <span>BANNER SPACE ....</span>
	    </p:layoutUnit>
	    <p:layoutUnit position="west" resizable="true" size="100" minSize="40" maxSize="200"  collapsible="true">
	    		
	    </p:layoutUnit>
	 
	    <p:layoutUnit position="center">
	    	<p:breadCrumb>
    			<p:menuitem value="Home" url="#" />
    			<p:menuitem value="Travel API Mock " url="#" />
	    	</p:breadCrumb>
	        <p:tabView onTabChange="showTabChange(this);">
				<p:tab title="Search flights">
					<div class="container-fluid centering">
						<form id="inputForm">
							<div class="row  col-md-5">
								<div class="col">
									<label>Origin</label>
									<input type="text" name="origin" id="origin" ng-model="origin" placeholder="Select Origin ..." 
										ng-keyup="autoCompleteAirportOrg(origin)" class="form-control"/>
									<ul class="list-group" id="originAutoCompleteList">
										<li class="list-group-item" ng-repeat="airportDataOrg in filterAirportOrg" ng-click="fillOriginTextbox(airportDataOrg)">
											{{airportDataOrg.code+" - "+airportDataOrg.name+","+airportDataOrg.parent.parent.name+" ( "+airportDataOrg.description+" )"}}</li>
									</ul>
								</div>
								
								<div class="col">
									<label>Destination</label>
									<input type="text" name="destination" id="destination" ng-model="destination" placeholder="Select Destination ..." 
										ng-keyup="autoCompleteAirportDest(destination)" class="form-control"/>
									<ul class="list-group" id="destinationAutoCompleteList">
										<li class="list-group-item" ng-repeat="airportDataDest in filterAirportDest" ng-click="fillDestinationTextbox(airportDataDest)">
											{{airportDataDest.code+" - "+airportDataDest.name+","+airportDataDest.parent.parent.name + " ( "+airportDataDest.description+" )"}}</li>
									</ul>
								</div>
								<div class="col">	
									<br/>
									<INPUT type="reset" value="Reset" ng-click="resetForm()"  class="btn btn-primary"/>
									<INPUT type="button" value="View Fare" ng-click="searchFare()" class="btn btn-primary"/>
									<br/>
								</div>	
								<br/>
								<br/>
								<span id="fareQueryResult"></span>
							</div>
						</form>
					</div>
				</p:tab>
				
				<p:tab title="View All Airports" id="viewAllAirportsTab">
					<div>
						<input id="refreshListOfAirports" type="button" style="display:none;" ng-click="fetchListOfAirports()"/>
 						<table  class="table table-striped">
 							<THEAD style="color:#fff;background-color:#000;font-weight:bold;">
 								<td>
 									S.No.
 								</td>
 								<td ng-click="updateOrderByValue('code')" style="cursor: pointer;" title="Click here to Sort by Code">
 									Code
 								</td>
 								<td ng-click="updateOrderByValue('name')" style="cursor: pointer;" title="Click here to Sort by Name">
 									Name
 								</td>
 								<td ng-click="updateOrderByValue('description')" style="cursor: pointer;" title="Click here to Sort by Description">
 									Description
 								</td>
 								<td ng-click="updateOrderByValue('country')" style="cursor: pointer;" title="Click here to Sort by Country">
 									Country
 								</td> 								
 							</THEAD>
 							<TBODY>
 								<tr ng-repeat="airData in airportJSONList.locations | orderBy: orderByIdentifier">
							       <td>
							           	{{ (currentPageNumber-1)* tableSizeListSelector + ($index + 1) }}.
							       </td>
							        <td >
							           {{airData.code}}
							       </td>
							       <td>
							           {{airData.name}}
							       </td>
							       <td>
							           {{airData.description}}
							       </td>    
							       <td>
							           {{airData.parent.parent.description}}
							       </td> 
							   </tr>
 							</TBODY>
 							<TFOOT>
 								<div style="float:left;padding: 5px 0px 10px 0px;" id="paginationFooterDiv">
 									<input type="button" id="firstPageButton" value="&lt;&lt;" ng-click="navigateToFirstPage()" 
 										title="First Page" class="btn btn-primary"/>
 									<input type="button" id="previousPageButton"  value="&lt;"  ng-click="navigateToPreviousPage()" 
 										title="Previous Page" class="btn btn-primary"/>
	 								<span style="padding: 0px 10px 0px 10px;"> 
	 									( Showing Page <strong>{{currentPageNumber}}</strong>  of  <strong> {{airportJSONPageInfo.totalPages}}</strong> ) 
	 								</span>
	 								<input type="button" id="nextPageButton" value="&gt;" ng-click="navigateToNextPage()" 
	 									title="Next Page" class="btn btn-primary"/>
	 								<input type="button" id="lastPageButton" value="&gt;&gt;" ng-click="navigateToLastPage()"  
	 									title="Last Page" class="btn btn-primary"/>
	 								Go to Page : 
	 								<select ng-model="currentPageNumber" ng-options="item as item for item in goToPageList" 
	 									ng-change="jumpToPage()" style="height:30px;">
  									</select>
 								</div>
 								<div style="float:right;padding: 5px 0px 10px 0px;">
 									Page Size :  
 									<select ng-model="tableSizeListSelector"  ng-options="item2 as item2 for item2 in tableSizeList" 
 										ng-change="changePageSize()" style="height:30px;"/>
 								</div> 															
 							</TFOOT>						   
						</table>
       				</div>
				</p:tab>
				
				<p:tab title="Statistics" >
					
					
					<table style="border:0px;width:100%; ">
						<tr>
							<td colspan="2">
								<a href="#" id="refreshMetrics" ng-click="refreshMetrics()" style="color:blue;float:left;">Refresh Chart</a>						
							</td>
						</tr>	
						<tr>
							<td width="70%">
								<div zingchart="zingchart" id="chart-1" zc-json="myBarChardData" zc-width="80%" zc-height="400px"/>							
							</td>
							
							<td  width="30%" >
								
								<span >Average Response Time : <strong>{{avgresponsetime}} ms </strong> </span>
								<br/>
								<span >Min Response Time : <strong>{{minresponsetime}} ms </strong> </span>
								<br/>
								<span >Max Response Time : <strong>{{maxresponsetime}} ms </strong> </span>
															
							</td>
						</tr>
					
					</table>
					
					<p:fieldset legend="Full JSON Response" toggleable="true" toggleSpeed="500" collapsed="true">
				       <textarea style="width:100%; height:200px;">
							{{requestMetricsFullJsonData}}
						</textarea> 
				    </p:fieldset>
				</p:tab>
			</p:tabView>
	    </p:layoutUnit>
	</p:layout>
</body>
</html>
